---
import Layout from '../layouts/Layout.astro';
---

<Layout title="PORTAL">
	<hr id="L" />
	<hr id="R" />
	<main id="Landing">
		<header class="title_cont">
			<h1>PORTAL</h1>
			<h3>INF USM</h3>
		</header>
		<section>
			<div>
				<a class="button-light" href="/auth/login"> Login </a>
				<hr />
				<a class="button-dark" href="/auth/register"> Register </a>
			</div>
			<a id="log-github" href="">
				<img src="/github/purple.svg" />
				Login with github
			</a>
		</section>
		<footer>
			<small>Created by madmti</small>
		</footer>
	</main>
</Layout>

<style lang="scss">
    @import '_index';
</style>